
<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
    <nb-card-front>
        <nb-card>
            <nb-card-header>
                <i class="nb-shuffle" (click)="toggleView()"></i>
                Experimiento: Tirar la moneda hasta
            </nb-card-header>
            <nb-card-body class="example-items-rows">
                <div class="row">
                    <div class="col-md-3">
                        <p>Cantidad de repeticiones</p>
                        <input
                        nbInput
                        fullWidth
                        type="number"
                        placeholder="Cantidad de repeticiones"
                        name="numberOfExperiments"
                        [(ngModel)]="numberOfExperiments"
                        value="{{ numberOfExperiments }}"/>
                    </div>
                    <div class="col-md-3">
                        <p>Espacio muestral </p>
                        <input
                        nbInput
                        fullWidth
                        type="text"
                        placeholder="Cantidad de repeticiones"
                        name="omega"
                        value="CARA , SECA" disabled/>
                    </div>
                    <div class="col-md-3">
                      <p>Repetir hasta ver</p>
                      <nb-select
                      fullWidth
                      placeholder="Select Showcase"
                      [(selected)]="selectedUntil"
                      (selectedChange)="untilOnchange($event)">
                      <nb-option value="CARA" >CARA</nb-option>
                      <nb-option value="SECA" >SECA</nb-option>
                      </nb-select>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-6">
                          <p>&nbsp;</p>
                          <button nbButton outline status="primary" (click)="startExperiment()"
                          [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
                          Empezar
                          </button>
                        </div>
                        <div class="col-md-6">
                          <p>&nbsp;</p>
                          <button nbButton outline status="primary" (click)="cleanResults()"
                          [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
                          Limpiar
                          </button>
                      </div>
                      </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4" *ngIf="resultOfExperiment.length > 0">
                      <h1>
                      Resultados
                      </h1>
                      <nb-list style="max-height: 50vh;">
                        <nb-list-item *ngFor="let results of resultOfExperiment; let i=index">
                          Salio cara en {{results.name}} intentos. ({{results.value}} veces)
                        </nb-list-item>
                      </nb-list>
                    </div>
                    <div class="col-md-8" *ngIf="resultOfExperiment.length > 0">
                      <h1>
                      Graficos
                      </h1>
                      <div style="max-height: 50vh;">
                        <ngx-charts-bar-horizontal
                        [view]="view"
                        [results]="resultOfExperiment"
                        legendTitle="Tiradas"
                        legend="true"
                        showXAxisLabel="true"
                        showYAxisLabel="true"
                        showDataLabel="true"
                        showGridLines="true"
                        scheme="nightLights">
                        </ngx-charts-bar-horizontal>
                      </div>
                    </div>
                </div>
            </nb-card-body>
          </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card>
        <nb-card-header>
          <i class="nb-shuffle" (click)="toggleView()"></i>
          Teoria
        </nb-card-header>
        <nb-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare tristique suscipit. Pellentesque tincidunt at erat eu aliquet. Morbi sapien odio, feugiat at posuere vitae, volutpat nec turpis. In nulla leo, porttitor et tincidunt a, semper in ipsum. Quisque iaculis risus ut rutrum auctor. Proin at rhoncus massa, iaculis rutrum sem. Vestibulum ultrices lacinia erat, eu lacinia eros dapibus ac. Integer pellentesque vel tellus ornare venenatis. Ut vulputate ligula vulputate lacus aliquet lacinia. Etiam efficitur tristique ex id hendrerit.
            Cras non mi malesuada, pharetra neque nec, interdum nisl. Donec sapien lacus, ornare ut mauris vitae, rhoncus luctus ex. Duis metus ligula, mollis non mi eu, semper vestibulum ligula. Nam egestas nulla lacus, eu suscipit quam iaculis eget. Proin dolor nunc, semper a quam at, maximus sagittis ipsum. Sed tincidunt felis non tincidunt aliquam. Nunc finibus posuere interdum. Phasellus iaculis dignissim tellus, at faucibus mi varius lacinia. Cras cursus mi nulla, eget dignissim nisl egestas eu. Nunc lacinia, ante nec tincidunt tincidunt, mi est dignissim ex, a iaculis justo velit a lorem. Phasellus at posuere lectus.
            Maecenas convallis purus et sapien porta, ac dignissim metus aliquam. Donec at ultrices erat. Integer ut neque dignissim, congue augue at, aliquet ex. Etiam semper justo feugiat, dignissim nibh ut, dictum sem. Duis tristique interdum tempor. Integer fermentum lacus at leo blandit pretium. Phasellus quis velit lectus. Etiam et gravida elit. Curabitur molestie lorem eget arcu ultricies, ut fringilla justo pharetra. Integer commodo nisl purus, sit amet placerat odio varius a. Duis pellentesque sed urna eget condimentum. Suspendisse finibus, ante at tincidunt dictum, massa tortor consequat nisi, sit amet venenatis urna mi ut dui.
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
