<nb-card>
  <nb-card-header>
      Experimiento: Tirar la moneda hasta
  </nb-card-header>
  <nb-card-body class="example-items-rows">
      <div class="row">
          <div class="col-md-3">
              <p>Cantidad de repeticiones</p>
              <input
              nbInput
              fullWidth
              type="number"
              placeholder="Cantidad de repeticiones"
              name="numberOfExperiments"
              [(ngModel)]="numberOfExperiments"
              value="{{ numberOfExperiments }}"/>
          </div>
          <div class="col-md-3">
              <p>Espacio muestral </p>
              <input
              nbInput
              fullWidth
              type="text"
              placeholder="Cantidad de repeticiones"
              name="omeag"
              [(ngModel)]="omega"
              value="{{ omega.join(';') }}" disabled/>
          </div>
          <div class="col-md-3">
            <p>Repetir hasta</p>
            <nb-select
            fullWidth
            [(selected)]="omega[0]"
            placeholder="Select Showcase"
            (selectedChange)="untilOnchange($event)">
              <nb-option *ngFor="let omeguita of omega" value="{{omeguita}}" >{{omeguita}}</nb-option>
            </nb-select>
          </div>
          <div class="col-md-3">
              <p>&nbsp;</p>
              <button nbButton outline status="primary" (click)="startExperiment()"
              [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
              Empezar
      </button>
          </div>
      </div>
      <br/>
      <div class="row">
          <div class="col-md-6">
              <nb-card size="medium">
                  <nb-card-header>
                  Resultados
                  </nb-card-header>
                  <nb-list style="max-height: 50vh;">
                      <nb-list-item *ngFor="let results of resultsLog">
                          <nb-list>
                              <nb-list-item *ngFor="let result of result">
                                {{result.result}}
                              </nb-list-item>
                          </nb-list>
                      </nb-list-item>
                  </nb-list>
              </nb-card>
          </div>
          <div class="col-md-6">
              <nb-card size="medium">
                  <nb-card-header>
                  Log
                  </nb-card-header>
                  <nb-list style="max-height: 50vh;">
                  </nb-list>
              </nb-card>
          </div>
      </div>
  </nb-card-body>
</nb-card>
